body{
    background-color: #112e42;
    color: white;
    padding-right: 20%;
    padding-left: 20%;
    
}

h1{
    font-size: 3rem;
}

h3,p{
    font-size: 2rem;
}

img{
    max-width: 750px;
    margin-top: 1rem;
}

.cat-name{
    color: #00abf0;
    font-weight: 700;
}

.cat-name::after{
    content: " | ";
}

.fn b{
    color: white;
}

.fn{
    color: #00abf0;
}